.page {
    margin: 0;
    margin: auto;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    max-width: 1280px;
    }