.header {
    display: grid;
    margin: auto;
    padding-top: 28px;
    max-width: 1184px;
    width: calc((1184/1280)*100%);
    grid-template-columns: 176px auto 77px;
    grid-template-rows: 52px;
    grid-template-areas:
        "logo . lang__link";
}


@media screen and (max-width: 1024px) {
.header {
    max-width: calc((928/1024)*100%);
}
}
    
@media screen and (max-width: 768px) {
.header {
    max-width: calc((720/768)*100%);
}
}
           
@media screen and (max-width: 320px) {
.header {
    max-width: calc((288/320)*100%);
    grid-template-columns: 142px 84px 62px;
    grid-template-rows: 42px;
}
}                          
