.website__link {
    margin-bottom: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: underline;
    color: #FFFFFF;
}

.website__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 500px) {
    .website__link {
    font-size: 18px;
    line-height: 22px;
    }
}