.footer {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 92px;
    margin-bottom: 24px;
    justify-content: space-between;
    max-width: calc((1184/1280)*100%);
}

@media screen and (max-width: 1024px) {
    .footer {
    max-width: calc((928/1024)*100%);
}
}

@media screen and (max-width: 768px) {
    .footer {
    max-width: calc((720/768)*100%);
}
}

@media screen and (max-width: 742px) {
    .footer {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 64px;
    min-width: 186px;
    width: 186px;
    }
}





